* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 40px;
    padding-top: 7.5px;
    border-radius: 7px;
    transition: 0.5s;
}

.logo {
    border: 2px solid rgb(226, 226, 226);
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}

.logo:hover{
    background-color: rgb(226, 226, 226);
    transform: scale(1.2);
}

.logo a h1:hover {
    color: rgb(130, 113, 21);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(38, 36, 37);
    font-family: 'Poppins', sans-serif;
    z-index: 5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
    transition: 0.25s;
}

.nav-links a {
    color: rgb(130, 113, 21);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.25s;
}

.nav-links a:hover {
    color: rgb(255, 255, 255);
}

.nav-links li:hover {
    transform: scale(1.2);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: rgb(255,215,0);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:760px) {
    body{
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 8.075vh;
        background-color: rgb(38, 36, 37);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .title-wrap {
        height: 500px;
    }
}

.nav-active {
    transform: translate(0%);
    z-index: 5;
}

body{
    background-color: rgb(226, 226, 226);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/mesh-gradient.png);
    background-size: cover;
    width: 100%;
    height: 950px;
}

.title-container {
    width: 75%; /* Can be in percentage also. */
    height: 500px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container h2 {
    font-size: 25px;
    color: rgb(38,36,37);
    user-select: none;
}

.title-container #logo {
    width: 85%;
    margin-top: 50px;
    animation: fill 0.5s ease forwards 3.5s;
    transition: 0.5s;
}

#logo path:nth-child(1){
    stroke-dasharray: 506;
    stroke-dashoffset: 506;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(2){
    stroke-dasharray: 417;
    stroke-dashoffset: 417;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(3){
    stroke-dasharray: 496;
    stroke-dashoffset: 496;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(4){
    stroke-dasharray: 451;
    stroke-dashoffset: 451;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(5){
    stroke-dasharray: 273;
    stroke-dashoffset: 273;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(6){
    stroke-dasharray: 485;
    stroke-dashoffset: 485;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(7){
    stroke-dasharray: 431;
    stroke-dashoffset: 431;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(8){
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(9){
    stroke-dasharray: 417;
    stroke-dashoffset: 417;
    animation: line-anim 2s ease forwards 2.7s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset:0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: rgb(38,36,37);
    }
}

.non-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.services {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-bg {
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: -1;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
}

.serv-container {
    width: 65%;
    height: auto;
    min-height: 600px;
    backdrop-filter: blur(65px);
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.serv-container h1 {
    font-size: 80px;
    margin-top: 100px;
    color: rgb(130, 113, 21);
    font-weight: 900;
    user-select: none;
}

.serv-container p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(226, 226, 226);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    user-select: none;
}

.serv-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin-top: 25px;
    height: auto;
}

.serv-links a {
    text-decoration: none;
    color: rgb(38, 36, 37);
    width: 80%;
    height: 60px;
    padding-top: 15px;
    margin-left: 20px;
    border:3px solid rgb(130, 113, 21);
    background-color: rgb(256, 256, 256);
    border-radius: 50px;
    font-size: 30px;
    transition: 0.5s;
}

.serv-links a:hover {
    background-color: rgb(21, 20, 20);
    transform: scale(1.1);
    color: rgb(130, 113, 21);
    border-color: rgb(21, 20, 20);
}